
/* ------ colour variables ------ */

:root {
  --primary-color: rgb(189, 231, 255);
  --secondary-color: rgb(6, 164, 255);
  --accent-color: rgb(255, 143, 32);
  --accent-active: rgb(255, 174, 0);
  --button-color: rgb(6, 164, 255);
}

/* ------ apply to all ----- */

* {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

/* ------ general styling ------ */

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0px 40px;
    border-radius: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-color);
}


/* navigation bar*/

.nav-list {
  list-style-type: none;
  padding-left: auto 0px;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
}

a:link {
    color: var(--accent-color);
    text-decoration: underline;
}

a:visited {
    color: var(--accent-color);
}

.nav-list__item--active, .nav-list__item--active:hover {
    font-size: 20px;
    font-weight: bold;
}

li:hover, li:focus {
    font-size: 18px;
    font-weight: 500;
    
}

a:active {
    color: var(--accent-active);
}


/* work grid*/

.grid__item {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(182, 182, 182) 0px 0px 4px;
}


/* buttons */

button, .button {
    padding: 12px;
    margin: 20px;
    border-color: rgb(224, 224, 224);
    border-radius: 16px;
    background-color: var(--button-color);
    color: white;
    font-weight: 600;
    width: 220px;
    transition: opacity 0.2s;
    transition: width 2s;
}

.button:link, .button:visited {
    color: white;
    text-decoration: none;
}

button:hover, button:focus, .button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
    width: 300px;
}

/* SVG image and animation*/

.beach {
  transform: scale(1.5);
}

@keyframes color-change {
  0% {
    fill: #ffd75e;
  }
  40% {
    fill: #ffd45c;
  }
  80% {
    fill: #ffe863;
  }
}

#sun {
    animation: 5s color-change infinite alternate linear;
}


@keyframes boat-move {
    from {
    transform: translate(1px, 0px);
  }
  to {
    transform: translate(-150px, -6px);
  }
}


#boat {
    animation: 18s boat-move infinite linear;
}

@keyframes sea-change {
    0% {
    fill: #9ED7FF;
  }
  40% {
    fill: #7ee1fa;
  }
  80% {
    fill: #84ccff;
  }
}

#sea {
    animation: 5s sea-change infinite linear;
}

@keyframes cloud-move {
  0% {
    transform: translate(1px, 0px);
  }
  50% {
    transform: translate(100px, 0px);
  }
}

#cloud1, #cloud2 {
  animation: 26s cloud-move infinite linear;
}

@keyframes sun-haze {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

#sunlines {
  transform-origin: 205px 25px;
  animation: 5s sun-haze infinite linear;
}


/* ----- layout styling ------ */

/* header layout */

.page-header {
    display: flex;
    width: 800px;
    padding: 8px 10px 4px 6px;
    justify-self: center;
}

.logo-pic {
    width: 200px;
    height: 70px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item {
    flex: 0 1 200px;
}

.nav-list li {
  display: inline-flex;
  margin-left: 15px;
  transition: font-size 0.2s;
}

.page-header {
    display: flex;
    width: 800px;
    padding: 8px 10px 4px 6px;
    justify-self: center;
}

.page-header__item {
    flex: 0 1 200px;
}


/* main section layout */

.info-box {
    max-width: 800px;
    margin: 0px auto;
}

.profile-pic-box {
    display: flex;
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
}

.welcome {
    text-align: center;
    width: 380px;
}

.welcome-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* form layout */

.form-box {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0px 2px 0px;
}

textarea {
    height: 100px;
}

.submit-button {
    margin: 8px auto;
}


/* work grid layout */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 16px;
}

.grid__item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid__item:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}


/* button layout */

.button-box {
    display: flex;
    justify-content: center;
}


/* svg layout */

.scene-box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* footer layout */

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-media a {
  height: 40px;
  width: 40px;
  display: inline-flex;
  
}

.social-icon {
    width: 32px;
    transition: all 0.1s ease-in-out;
}

.social-icon:hover, .social-icon:focus {
    transform: scale(1.15);
}


/* Responsive design layout*/

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid__item:first-child {
    grid-column: auto / auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}


@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .info-box {
    margin: 0px 20px;
  }
}