/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* ------ colour variables ------ */

/* ------ apply to all ----- */


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: none;
  margin: none;
}

/* ------ general styling ------ */

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1 {
    font-family: "Space Mono", monospace;
    font-size: 50px;
    font-weight: 700;
    background-color: rgb(189, 231, 255);
    color: rgb(6, 164, 255);
    padding: 0px 40px;
    border-radius: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(6, 164, 255);
}


/* navigation bar*/

.nav-list {
  list-style-type: none;
  padding-left: auto 0px;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
}

a:link {
    color: rgb(255, 143, 32);
    text-decoration: underline;
}

a:visited {
    color: rgb(255, 143, 32);
}

.nav-list__item--active, .nav-list__item--active:hover {
    font-size: 20px;
    font-weight: bold;
}

li:hover, li:focus {
    font-size: 18px;
    font-weight: 500;
    
}

a:active {
    color: rgb(255, 174, 0);
}


/* work grid*/

.grid__item {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgb(182, 182, 182) 0px 0px 4px;
            box-shadow: rgb(182, 182, 182) 0px 0px 4px;
}


/* buttons */

button {
    padding: 12px;
    margin: 20px;
    border-color: rgb(224, 224, 224);
    border-radius: 16px;
    background-color: rgb(6, 164, 255);
    color: white;
    font-weight: 600;
    width: 220px;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}

.button {
    padding: 12px;
    margin: 20px;
    border-color: rgb(224, 224, 224);
    border-radius: 16px;
    background-color: rgb(6, 164, 255);
    color: white;
    font-weight: 600;
    width: 220px;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
}

.button:link, .button:visited {
    color: white;
    text-decoration: none;
}

button:hover, button:focus, .button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
    width: 300px;
}

/* SVG image and animation*/

.beach {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes color-change {
  0% {
    fill: #ffd75e;
  }
  40% {
    fill: #ffd45c;
  }
  80% {
    fill: #ffe863;
  }
}

@keyframes color-change {
  0% {
    fill: #ffd75e;
  }
  40% {
    fill: #ffd45c;
  }
  80% {
    fill: #ffe863;
  }
}

#sun {
    -webkit-animation: 5s color-change infinite alternate linear;
            animation: 5s color-change infinite alternate linear;
}


@-webkit-keyframes boat-move {
    from {
    -webkit-transform: translate(1px, 0px);
            transform: translate(1px, 0px);
  }
  to {
    -webkit-transform: translate(-150px, -6px);
            transform: translate(-150px, -6px);
  }
}


@keyframes boat-move {
    from {
    -webkit-transform: translate(1px, 0px);
            transform: translate(1px, 0px);
  }
  to {
    -webkit-transform: translate(-150px, -6px);
            transform: translate(-150px, -6px);
  }
}


#boat {
    -webkit-animation: 18s boat-move infinite linear;
            animation: 18s boat-move infinite linear;
}

@-webkit-keyframes sea-change {
    0% {
    fill: #9ED7FF;
  }
  40% {
    fill: #7ee1fa;
  }
  80% {
    fill: #84ccff;
  }
}

@keyframes sea-change {
    0% {
    fill: #9ED7FF;
  }
  40% {
    fill: #7ee1fa;
  }
  80% {
    fill: #84ccff;
  }
}

#sea {
    -webkit-animation: 5s sea-change infinite linear;
            animation: 5s sea-change infinite linear;
}

@-webkit-keyframes cloud-move {
  0% {
    -webkit-transform: translate(1px, 0px);
            transform: translate(1px, 0px);
  }
  50% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
}

@keyframes cloud-move {
  0% {
    -webkit-transform: translate(1px, 0px);
            transform: translate(1px, 0px);
  }
  50% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
}

#cloud1, #cloud2 {
  -webkit-animation: 26s cloud-move infinite linear;
          animation: 26s cloud-move infinite linear;
}

@-webkit-keyframes sun-haze {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
}

@keyframes sun-haze {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
}

#sunlines {
  -webkit-transform-origin: 205px 25px;
      -ms-transform-origin: 205px 25px;
          transform-origin: 205px 25px;
  -webkit-animation: 5s sun-haze infinite linear;
          animation: 5s sun-haze infinite linear;
}


/* ----- layout styling ------ */

/* header layout */

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 800px;
    padding: 8px 10px 4px 6px;
    -ms-grid-column-align: center;
        justify-self: center;
}

.logo-pic {
    width: 200px;
    height: 70px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.nav-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 15px;
  -webkit-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    padding: 8px 10px 4px 6px;
    -ms-grid-column-align: center;
        justify-self: center;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}


/* main section layout */

.info-box {
    max-width: 800px;
    margin: 0px auto;
}

.profile-pic-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
}

.welcome {
    text-align: center;
    width: 380px;
}

.welcome-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


/* form layout */

.form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

label {
    margin: 8px 0px 2px 0px;
}

textarea {
    height: 100px;
}

.submit-button {
    margin: 8px auto;
}


/* work grid layout */

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 16px;
}

.grid__item:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
}

.grid__item:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
}


/* button layout */

.button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/* svg layout */

.scene-box {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


/* footer layout */

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.social-media a {
  height: 40px;
  width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  
}

.social-icon {
    width: 32px;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.social-icon:hover, .social-icon:focus {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}


/* Responsive design layout*/

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item:first-child {
    grid-column: auto / auto;
  }

  
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  
}


@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .info-box {
    margin: 0px 20px;
  }

  .page-header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .logo-pic {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .nav-list li {
  margin: 0px 10px;
  }

  .page-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  ul {
    width: 100%;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    margin-top: -5px;
  }

}